name: Build and Deploy Next.js to S3
on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'app/**'
      - '.github/workflows/deploy-nextjs.yml'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'app/package-lock.json'
          
      - name: Install dependencies
        run: |
          cd app
          npm install
          
      - name: Set Web API URL environment variable
        run: |
          cd app
          echo "NEXT_PUBLIC_WEB_API_URL=${{ secrets.NEXT_PUBLIC_WEB_API_URL }}" >> .env.local
          
      - name: Build static site
        run: |
          cd app
          npm run build
          
      - name: Crear env.json con valores deployados
        run: |
          echo '{
            "cognitoUserPoolId": "us-east-1_8V0hE099p",
            "cognitoUserPoolWebClientId": "uf9pb9md0u9spd2d1mdf5gudd",
            "cognitoDomain": "template-app-auth-xpc62lbv.auth.us-east-1.amazoncognito.com"
          }' > ./app/out/env.json
          
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION || 'us-east-1' }}
          
      - name: Deploy to S3
        run: aws s3 sync ./app/out s3://website-bucket-5d2io74t/ --delete
        
      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E224Y1LFZQSTPJ \
            --paths "/*"
